@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-50: 250 247 246;
    --primary-100: 244 239 236;
    --primary-200: 235 226 221;
    --primary-300: 221 205 196;
    --primary-400: 200 174 161;
    --primary-500: 181 150 134;
    --primary-600: 155 121 103;
    --primary-700: 129 99 84;
    --primary-800: 108 84 72;
    --primary-900: 92 74 64;
    --primary-950: 48 37 31;
    --surface-0: 255 255 255;
    --surface-50: 250 250 250;
    --surface-100: 244 244 245;
    --surface-200: 228 228 231;
    --surface-300: 212 212 216;
    --surface-400: 161 161 170;
    --surface-500: 113 113 122;
    --surface-600: 82 82 91;
    --surface-700: 63 63 70;
    --surface-800: 39 39 42;
    --surface-900: 24 24 27;
    --surface-950: 9 9 11;


    --primary: var(--primary-600);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
}
.dark{
    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
    &:not(.dark){
        --primary: var(--primary-950);
        --primary-inverse: var(--surface-0);
        --primary-hover: var(--primary-800);
        --primary-active-color: var(--primary-900);

        --primary-highlight-opacity: 1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.8;
    }
    &.dark{
        --primary: var(--primary-50);
        --primary-inverse: var(--surface-950);
        --primary-hover: var(--primary-100);
        --primary-active-color: var(--primary-100);

        --primary-highlight-opacity: 0.1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.2;

    }
}